# LaTeX auxiliary/build files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.figlist
*.makefile

# OS files
.DS_Store
